@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
.videoPlayer {
  font-family: "Concert One", cursive;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
